body {
  margin: 0;
  padding: 0;
  height: 30px;
  width: 200px;
  left: 50%;
  top: 50%;
  margin-top: -15px;
  margin-left: -100px;
  position: fixed;
}

button {
  padding: 1.5rem;
  font-family: "Victor Mono Medium";
  font-size: 1.5rem;
  background-color: transparent;
  border: solid;
  border-radius: 25px;
  border-color: white;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: black;
}
