button {
  margin-top: 50vh;
  margin-left: 50vw;
  border-radius: 25px;
  padding: 1.4rem;
  color: white;
  background-color: transparent;
  border: solid;
  font-size: 1.4rem;
  font-family: "Victor Mono Medium";
  font-weight: 900;
}

button:hover {
  cursor: pointer;
  background-color: rgb(211, 211, 211);
  color: black;
}
